@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

:root{
    --blue   : rgba(54,237,212,0.87);
    --brown  : rgba(177,105,49,1);
    --green  : rgba(19,204,63,0.72);
    --orange : rgba(255,139,74,0.87);
    --pink   : rgba(244,60,166,0.67);
    --yellow : rgba(255,255,0,1);
    --violet : rgba(170,63,212,0.76);
    --dark-black  : rgba(30,30,30,1);
    --light-black : rgba(40,40,40,1);
}


html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s ease;
}
body{
    width: 100%;
    height: 100%;
    font-family: 'Karla' , sans-serif;
}

/********************************************************************************/
                                /* common classes */
.h1,
.h2,
.h3,
.h4{
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 10px var(--dark-black);
}
.h1{
    font-size: 2em;
}
.h2{
    font-size: 1.6em;
}
.h3{
    font-size: 1.4em;
}
.h4{
    font-size: 1.3em;
}
.p{
    font-size: 1.1em;
    color: white;
}
.li{
    color: white;
    font-size: 1.1em;
}
.img{
    width: 50px;
    background-color: white;
    border-radius: 100%;
    border: 1px solid white;
}
.on{
    transform: translate(-600px);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section{
    margin-top: 50px;
    padding: 10px;
}
.imgcontainer{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fullcontainer{
    padding: 10px;
}

.light-body{
    background: linear-gradient(
        135deg,
        var(--violet),
        var(--blue),
        var(--green),
        var(--blue),
        var(--violet)
    );
}
.dark-body{
    background: var(--light-black);
}
/********************************************************************************/
                                    /* nav panel */
.header{
    padding: 10px;
}
.header .nav-menu{}
.header .nav-menu .menu-icon{
    position: fixed;
    z-index: 10;
}
.header .nav-menu .menu-icon .img{
    border: 0;
    border-radius: 0;
    background-color: transparent;
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

.header .nav-menu .menu{
    background-color: var(--light-black);
    box-shadow: 5px 5px 10px var(--dark-black);
    width: 40vw;
    max-width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
}
.header .nav-menu .menu .a{
    display: block;
    font-size: 25px;
    padding: 10px 20px;
    cursor: pointer;
    color: #afafaf;
    text-decoration: none;
}
.header .nav-menu .menu .a:hover{
    background-color: #afafaf;
    color: var(--dark-black);
}
.header .nav-menu .menu .themebuttoncontainer{
    position: absolute;
    left: 20px;
    top: 90%;
    border-radius: 30px;
    background: linear-gradient(
        0deg,
        #afafaf,
        white,
        #afafaf
    );
    width: 90px;
    height: 45px;
    border: 2px solid var(--green);
}
.header .nav-menu .menu .themebutton{
    position: absolute;
    top: 1;
    border: 0;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease;
}
.header .nav-menu .menu .light{
    left: 1px;
    background-image: url("../images/sun.png");
}
.header .nav-menu .menu .dark{
    left: 54%;
    background-image: url("../images/moon.png");
}

/********************************************************************************/
                                    /* About */
.about{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("../images/about.jpg");
    margin-top: 50px;
    border: 2px solid var(--dark-black);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.about .principal{}
.about .principal .h1{
    color: var(--blue);
}
.about .principal .img{
    border: 2px solid var(--dark-black);
    border-radius: 100%;
    width: 250px;
}
.about .secondary{}
.about .secondary .basic{
    display: flex;
}
.about .secondary .basic .h3{
    font-size: 1.2em;
    margin: 10px 5px;
    color: var(--blue);
}
.about .secondary .basic .span{
    color: white;
}
.about .secondary .details{}
.about .secondary .details .h2{
    color: var(--blue);
}
.about .secondary .details .p{}
.about .secondary .details .h3{
    margin-top: 10px;
    color: var(--blue);
}
.about .secondary .details .ul{
    list-style: none;
    text-align: left;
    padding-left: 10px;
}
.about .secondary .details .ul .li{}

/********************************************************************************/
                                        /* Projects */
.projects{}
.projects .h1{
    color: black;
    text-shadow: 5px 5px 5px var(--pink);
}
.projects .container{}
.projects .article{
    margin-top: 10px;
    border: 1px solid var(--dark-black);
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--dark-black);
    width: 100%;
    min-height: 250px;
    justify-content: space-between;
    padding: 20px;
}
.projects .article:nth-child(1){
    background-image: linear-gradient(
        0deg,
        var(--green),
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("../images/Restaurante\ Raodpez\ -\ Opera\ 20_12_2023\ 9_56_46.png");
}
.projects .article:nth-child(2){
    background-image: linear-gradient(
        0deg,
        var(--green),
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("../images/Readin-Survey.png");
}
.projects .article:nth-child(3){
    background-image: linear-gradient(
        0deg,
        var(--green),
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("../images/Logo_GMC1.jpg");
}
.projects .article .h3{
    color: var(--yellow);
    text-shadow: 5px 5px 10px var(--violet);
}
.projects .article .a{}
.projects .article .a .img{}

/********************************************************************************/
                                    /* Skills */
.skills{}
.skills .h1{
    text-shadow: 5px 5px 10px rgba(245,88,159,0.93);
}
.skills .h2{
    text-align: left;
    text-shadow: 2px 2px 10px rgba(245,88,159,0.93);
    border-bottom: 1px solid white;
}
.skills .row{
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    text-align: center;
    font-size: 20px;
}
.skills .row .skill{
    border-radius: 10px;
    box-shadow: 2px 2px 10px var(--light-black);
    min-height: 70px;
    background: linear-gradient(
        135deg,
        rgb(18, 168, 106),
        rgb(13, 112, 71),
        rgb(18, 168, 106),
        rgb(13, 112, 71)
    );
    color: white;
    font-weight: bold;
}
.skills .skillcontainer{
    margin: 5px 0;
}
.skills .center{
    grid-template-columns: repeat(2,1fr);
}
.skills .languajes{}
.skills .tecnologies{}
.skills .misc{}

/********************************************************************************/
                                    /* Contact */
.contact{}
.contact .h1{
    color: black;
    text-shadow: 5px 5px 10px var(--pink);
    margin-bottom: 10px;
}
.contact .form{
    border-radius: 10px;
    background-color: var(--violet);
    padding: 20px;
}
.contact .form .personalinfo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0 5px;
}
.contact .form .personalinfo .label{
    width: 100%;
    margin: 7px 0;
    color: var(--yellow);
    font-size: 20px;
    font-weight: bold;
}
.contact .form .personalinfo .text{
    border: 0;
    border-radius: 5px;
    min-height: 25px;
    padding: 0 10px;
    outline: none;
}
.contact .form .personalinfo .select{
    border: 0;
    border-radius: 5px;
    min-height: 25px;
    outline: none;
}
.contact .form .personalinfo .select .option{}
.contact .form .message{}
.contact .form .message .textarea{
    width: 100%;
    min-height: 200px;
    margin: 10px 0;
    padding: 5px;
    resize: vertical;
    font-size: 20px;
    outline: none;
}
.contact .form .submit{
    margin-top: 10px;
    width: 80%;
    min-height: 40px;
    border: 1px solid var(--light-black);
    border-radius: 10px;
    box-shadow: 2px 2px 10px var(--dark-black);
    background-color: rgba(128, 43, 161, 0.76);
    color: var(--yellow);
    font-size: 20px;
}

/********************************************************************************/
                                    /* Footer */
.footer{
    margin-top: 50px;
    width: 100%;
    min-height: 100px;
    background-color: var(--dark-black);
    padding: 10px;
}
.footer .links{
    display: flex;
}
.footer .links .a{
    margin: 10px;
    color: white;
    text-decoration: none;
    outline: none;
}
.footer .links .a .img{}
.footer .p{}

/********************************************************************************/