@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

:root{
    --blue   : rgba(54,237,212,0.87);
    --brown  : rgba(177,105,49,1);
    --green  : rgba(19,204,63,0.72);
    --orange : rgba(255,139,74,0.87);
    --pink   : rgba(244,60,166,0.67);
    --yellow : rgba(255,255,0,1);
    --violet : rgba(170,63,212,0.76);
    --dark-black  : rgba(30,30,30,1);
    --light-black : rgba(40,40,40,1);
}

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Karla', Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--light-black);
    color: white;
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h1 , .h2 , .h3 , .h4{
    color: var(--brown);
}
.h1{
    text-align: center;
    font-size: 2.5em;
}
.h2{
    text-align: center;
    font-size: 2em;
}
.h3{
    font-size: 1.5em;
}
.h4{
    font-size: 1.3em;
}

                                    /* Principal Styles*/
.header{
    background-color: var(--dark-black);
    max-width: 1200px;
    width: 90%;
    height: 60px;
    position: fixed;
    padding: 0 20px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
}
.header .nav{
    width: 30%;
    min-width: 400px;
    max-width: 500px;
    display: flex;
    justify-content: space-evenly;
}
.header .a{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--violet);
    text-decoration: none;
}
.header .nav .a{
    font-size: 1.3em;
}
.header .a:hover{
    text-decoration: none;
    color: var(--brown);
}

                                    /*Adding some margin to the top*/
.main {
    margin-top: 80px;
}

                                    /* About Section*/
#about{
    background-color: var(--dark-black);
    margin: 10px 30px;
    padding: 10px;
    border: 2px solid silver;
    box-shadow: 3px 3px 10px var(--dark-black);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat( 2 , 1fr );
}
#about .principal .h1{
    margin-top: 10px;
}
#about .principal .img{
    margin: 20px 0;
    border: 2px solid silver;
    box-shadow: 3px 3px 10px rgb(10, 10, 10);
    border-radius: 100%;
    width: 250px;
}
#about .secondary .basic{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
#about .secondary .span{
    color: white;
}
#about .secondary .p{
    text-align: center;
}
#about .secondary .h4{
    margin-top: 20px;
}
#about .secondary .ul .li{
    list-style: inside;
}

                                    /* Projects Section */
#projects{
    width: 90%;
    margin: 20px auto;
}
#projects .h2{
    text-align: center;
}
#projects .container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
}
#projects .container .article{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25vw;
    min-height: 300px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 2px 5px 10px var(--violet);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#projects .container .article:nth-child(1){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    ), url("../images/Restaurante\ Raodpez\ -\ Opera\ 20_12_2023\ 9_56_46.png");
}
#projects .container .article:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("");
}
#projects .container .article:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    ), url("../images/Logo_GMC1.png");
}

#projects .container .article .h3{
    color: var(--yellow);
    text-decoration: underline;
}
#projects .container .article .a{
    width: 20%;
}
#projects .container .article .a .img{
    border: 0;
    border-radius: 100%;
    background-color: var(--yellow);
}

                                    /* Skills Section */
#skills{}
#skills .h2{}
#skills .container{}
#skills .h3{}
#skills .skill{}

#contact{}
#contact .h2{}

.footer{}
.footer .a{}
.footer .svg{}
.footer .p{}